In [2]:
import pandas as pd 
import numpy as np

In [30]:
# load CsvAllfields.xlsx
df = pd.read_csv('./data/M250512 Budget Thuis Multi utility onderzoek MaxDiff_data_volledig_opgeschoond.csv')
df.head()

,sys_RespNum,d,MXD_1_b,MXD_1_w,MXD_2_b,MXD_2_w,MXD_3_b,MXD_3_w,MXD_4_b,MXD_4_w,...,nKOP5,nKOP6,nKOP7,nKOP8,nKOP9,nKOP10,nKOP11,nKOP12,nKOP13,weegvar
0,748,411111358,16,26,3,12,2,19,21,28,...,3,1,4.0,3,9.0,2,2,1,1,0.882466
1,1426,411111364,16,3,8,4,11,23,13,26,...,8,1,NaN,3,5.0,2,2,2,2,1.132590
2,892,411111367,5,26,12,11,39,3,40,27,...,5,2,4.0,3,9.0,2,2,1,1,0.757315
3,1482,411111369,10,26,6,24,9,2,3,16,...,8,1,4.0,2,3.0,2,2,2,2,1.132590
4,1240,411111373,7,31,28,26,8,34,20,18,...,1,3,3.0,6,9.0,2,1,1,1,0.686049

In [31]:
df.columns

Index(['sys_RespNum', 'd', 'MXD_1_b', 'MXD_1_w', 'MXD_2_b', 'MXD_2_w',
       'MXD_3_b', 'MXD_3_w', 'MXD_4_b', 'MXD_4_w', 'MXD_5_b', 'MXD_5_w',
       'MXD_6_b', 'MXD_6_w', 'MXD_7_b', 'MXD_7_w', 'MXD_8_b', 'MXD_8_w',
       'MXD_9_b', 'MXD_9_w', 'MXD_10_b', 'MXD_10_w', 'MXD_11_b', 'MXD_11_w',
       'MXD_12_b', 'MXD_12_w', 'MXD_13_b', 'MXD_13_w', 'MXD_14_b', 'MXD_14_w',
       'MXD_15_b', 'MXD_15_w', 'MXD_16_b', 'MXD_16_w', 'MXD_17_b', 'MXD_17_w',
       'MXD_18_b', 'MXD_18_w', 'sys_MXDDesignID_MXD', 'nKOP1', 'nKOP2',
       'nKOP3', 'nKOP4', 'nKOP5', 'nKOP6', 'nKOP7', 'nKOP8', 'nKOP9', 'nKOP10',
       'nKOP11', 'nKOP12', 'nKOP13', 'weegvar'],
      dtype='object')

In [15]:
df = pd.read_excel('./data/M250512_MXD_Design.xlsx')
df.head()

   Version  Set  Item1  Item2  Item3  Item4  Item5
0        1    1     37     34      2     15     14
1        1    2     30      5     27     39     12
2        1    3     18     28     25     32      7
3        1    4     36      1     35     29     13
4        1    5     11     17      9     24      6

In [16]:
df.columns

Index(['Version', 'Set', 'Item1', 'Item2', 'Item3', 'Item4', 'Item5'], dtype='object')

In [25]:
df = pd.read_csv('data/Scores - MXD - Analysis run 1 - HB - 2025-Aug-11 - 1_03 PM - Probability scaled.csv')
df.head()

,Respondent ID,RLH,500 kWh gratis per jaar,1.000 kWh gratis per jaar,1.500 kWh gratis per jaar,50 euro korting per jaar op je energierekening,100 euro korting per jaar op je energierekening,150 euro korting per jaar op je energierekening,5% korting op het stroomtarief per jaar,10% korting op het stroomtarief per jaar,...,Gratis 5 GB Extra Data Mobiel,Gratis 10 GB Extra Data Mobiel,Gratis 15 GB Extra Data Mobiel,Gratis Dubbele Data mobiel,1 euro korting per maand op Onbeperkt Data abonnement (van 20 euro p/mnd),"2,50 euro korting per maand op Onbeperkt Data abonnement (van 20 euro p/mnd)",5 euro korting per maand op Onbeperkt Data abonnement (van 20 euro p/mnd),"1 euro korting per maand op Mobiel abonnement (van 5,50 tot 10 euro p/mnd)","2,50 euro korting per maand op Mobiel abonnement (van 5,50 tot 10 euro p/mnd)","5 euro korting per maand op Mobiel abonnement (van 5,50 tot 10 euro p/mnd)"
0,17,0.250065,0.561432,0.505026,0.588951,2.546235,3.336744,2.984779,0.544208,1.436743,...,1.067525,1.501025,0.931244,0.848909,2.837165,2.490610,3.894500,2.557308,4.756450,4.629707
1,18,0.548544,6.411792,7.228782,7.304046,1.958357,5.612742,5.876807,2.667635,5.373435,...,0.393735,0.723144,1.010515,1.464289,0.059460,0.108897,0.194748,0.058753,0.084829,0.228216
2,19,0.575924,7.410682,8.008243,8.031145,2.089373,4.617447,6.869342,6.447673,7.673845,...,0.767336,1.233878,2.001482,0.648277,0.395028,0.589091,0.872708,0.385131,0.643350,1.732408
3,20,0.558523,7.120400,7.562814,7.625993,3.085720,6.982231,7.357422,6.537057,7.399794,...,0.144885,0.088891,0.142748,0.312883,0.253608,0.727590,0.331272,1.020527,1.735507,3.419158
4,21,0.626599,1.146286,2.928394,4.458334,5.837241,7.449349,7.561292,0.958621,3.455890,...,0.267999,0.437728,0.542739,0.670787,0.023474,0.138128,1.866283,0.012913,0.117593,1.457518

In [26]:
df.columns

Index(['Respondent ID', 'RLH', '500 kWh gratis per jaar',
       '1.000 kWh gratis per jaar', '1.500 kWh gratis per jaar',
       '50 euro korting per jaar op je energierekening',
       '100 euro korting per jaar op je energierekening',
       '150 euro korting per jaar op je energierekening',
       '5% korting op het stroomtarief per jaar',
       '10% korting op het stroomtarief per jaar',
       '15% korting op het stroomtarief per jaar',
       '20% korting op het stroomtarief per jaar',
       '100 euro korting per jaar op energiebesparende producten',
       '250 euro korting op Plug-In Thuisbatterij',
       '500 euro korting op een Plug-In Thuisbatterij',
       'Eenmalige cadeaukaart (zoals bijv. Bol.com of Coolblue) t.w.v. 100 euro',
       'Eenmalige cadeaukaart (zoals bijv. Bol.com of Coolblue) t.w.v. 200 euro',
       'Eenmalige cadeaukaart (zoals bijv. Bol.com of Coolblue) t.w.v. 300 euro',
       'Gratis Stroom in de lente- en zomerweekenden van 12:00 tot 17:00 t.w.v. 20 euro',
       'Gratis Wifiversterker t.w.v. 2,50 euro per maand',
       'Gratis Wifiversterker t.w.v. 79 euro',
       '2,50 euro korting per maand op Internet voor thuis',
       '5 euro korting per maand op Internet voor thuis',
       '7,50 euro korting per maand op Internet voor thuis',
       'Gratis hogere internet snelheid t.w.v. 5 euro per maand',
       'Gratis TV Plus-Pakket t.w.v. 4,99 euro per maand',
       'Gratis TV opnemen pakket t.w.v. 4,99 euro per maand',
       'Gratis TV Kids pakket t.w.v. 4,99 euro per maand',
       '5 euro korting per maand op Streaming diensten (Bijv. Netflix, Videoland, Disney+ etc.)',
       '2,50 euro korting per maand op TV Sport pakket (Viaplay, Ziggo Sport, ESPN)',
       '5 euro korting op TV Sport pakket (Viaplay, Ziggo Sport, ESPN)',
       'Gratis 3 GB Extra Data Mobiel', 'Gratis 5 GB Extra Data Mobiel',
       'Gratis 10 GB Extra Data Mobiel', 'Gratis 15 GB Extra Data Mobiel',
       'Gratis Dubbele Data mobiel',
       '1 euro korting per maand op Onbeperkt Data abonnement (van 20 euro p/mnd)',
       '2,50 euro korting per maand op Onbeperkt Data abonnement (van 20 euro p/mnd)',
       '5 euro korting per maand op Onbeperkt Data abonnement (van 20 euro p/mnd)',
       '1 euro korting per maand op Mobiel abonnement (van 5,50 tot 10 euro p/mnd)',
       '2,50 euro korting per maand op Mobiel abonnement (van 5,50 tot 10 euro p/mnd)',
       '5 euro korting per maand op Mobiel abonnement (van 5,50 tot 10 euro p/mnd)'],
      dtype='object')

In [29]:
# run_dataloader.py
from pathlib import Path
from data_loader import DataLoader  # make sure data_loader.py is in the same folder

def main():
    # --- paths (adjust to your file locations) ---
    responses_path = Path("./data/M250512 Budget Thuis Multi utility onderzoek MaxDiff_data_volledig_opgeschoond.csv")   # Dataset 1
    design_path = Path('./data/M250512_MXD_Design.xlsx')        # Dataset 2
    output_path = Path("maxdiff_compact.csv")

    # --- run pipeline ---
    dl = DataLoader()
    responses = dl.load_responses(responses_path)
    design = dl.load_design(design_path)
    compact = dl.combine(responses, design)
    dl.write_csv(compact, output_path)

    print("\nFirst rows of compact table:")
    print(compact.head())

if __name__ == "__main__":
    main()

ValueError: Missing required column: sys_MXDVersion_MXD